footer {
  background-color: black;
  text-align: center;
  color: white;
}
.navbar-default {
  background:#fff;
  border: 0;
  font-family: Poppins;
}
.navbar-brand {
  font-size: 30px;
  color:#000 !important;
  font-weight: bold;
}
#table {
  margin-bottom: 100px
}
a.fa {
  font-size: 50px;
  margin: 15px;
}
body {
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
}
@media screen and (max-width: 600px) {
  body {
    background-color: green;
    color: white;
    
  }
}