{% extends 'members/base.html' %}

{% block body %}

<style>
  #about_page {
    margin-top: 100px;
  }
</style>

<div class="container" id="about_page">
  <div class="row">
      <div class="col">
        <h2>Vision</h2>
      <hr>
      <p>To see an increase in communities where black businesses thrive and the underserved are 
        economi cally empowered</p>

      <h3>Goals</h3>
      <br>
      <p>To provide	sustainable resources	and trainings that 	economic	ally empower	the black community
        Economic benefits to the community</p>
        
      <h4>Affordable housing</h4>
      <br>
      <p>provides direct economic advantages to the immediate community. Since the 
        houses are affordable, the people are going to have extra money to spend. This is going to lead to an 
        increase in the demand of various services and goods leading to increased emplo	yment opportunities. 
        The best thing about affordable housing is the fact that it accommodates individuals with different skills 
        that are beneficial to the community. For instance, construction workers, bus drivers, cleaners, shop 
        assistants, teachers and n	urses are well catered for under affordable housing and thus they can provide 
        their important services to the community. </p>

      Literacy Trainings	helps improve their financial future and prepared when disaster strikes.  It helps 
      bridge the widespread gaps in f	inancial wealth between blacks and other races. It is common knowledge 
      that blacks are denied loans far more than whites.  It is common knowledge that Black Americans fall 
      behind in basic financial skills necessary to develop and maintain a budget, to unde	rstand credit, to 
      understand investment vehicles, or to take advantage of our banking system. It is essential to provide 
      basic financial education that allows people to better navigate an 
      economic crisis such as this one.
      Grant Programs	helps improves the quality of life of our members.  Foreclosures weakens the cost of 
      homes in their neighborhood.  This program grants relief to people facing foreclosure, eviction, and 
      reduces homelessness.  It also helps children who lack the motivation	to succeed in school and reduces 
      the  dropout rate.  It is important to keep black businesses open and thriving because it Closes the Racial 
      Wealth Gap. We can trace the origins of today’s racial wealth gap to Jim Crow. Strengthens Local 
      Economies. When sm	all businesses flourish, so do their communities. African American buying power is 
      at 1.1 Trillion; and yet only 2 cents of every dollar an African American spends in this country goes to 
      black - owned businesses.” This is a major problem for the African-American community.  P.O Box 432
      Business (203)715-0447 Fax: (860) 606	- 9829
      ​
      2
      According to a study by a team of researchers at the University of Wisconsin	- Madison, poverty can make 
      real changes in the brain’s architecture, affecting the frontal and temporal lobes and hippocampus, 
      which can lead to lifelong proble	ms with depression, learning difficulties and limitations in the ability to 
      cope with stress.  The effects of poverty can be mitigated. Putting more money into the pockets of low	-
      income families
     
    <p>
    We hope you enjoy our products as much as we enjoy offering them to you.
    If you have any questions or comments, please don't hesitate to contact us.
    </p>
   
      </div>
  </div>
</div>

<br class="mb-6">


{% endblock %}
