<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,900&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>SCU</title>

</head>
<body>
  <div class="container-fluid">
    <!-- navbar start -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-default navbar-right">
      <!-- <img src="{% static 'img/brand.png' %}" width="30" height="30" alt=""> -->
      <a class="navbar-brand" href="/">SCU</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a class="nav-item nav-link" href="{% url 'members:member-list'%}">Members</a> -->
          <a class="nav-item nav-link text-dark font-weight-bold" href="/programs/">Our Programs</a>
          <a class="nav-item nav-link text-dark font-weight-bold" href="/news/">News</a>
          <li class="nav-item nav-link dropdown ">
            <a class="dropdown-toggle text-dark font-weight-bold text-decoration-none" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item font-weight-bold" href="/about/">What we do</a>
              <a class="dropdown-item font-weight-bold" href="/founders/">Our Staff</a>
            </div>
          </li>
          <a class="nav-item nav-link text-dark font-weight-bold" href="/contact/">Contact</a>
          <!-- <a class="nav-item nav-link" href="#">Donate</a> -->
          <!-- <a class="nav-item nav-link" href="/portal/">Employee Portal</a> -->
          <!-- <a class="nav-item nav-link" href="{% url 'mublog:home' %}">Blog</a> -->
        </div>
        </div>
    </nav>
  </div>
  
    <!-- navbar end -->
  
    {% block body %}
    
    {% endblock %}

    <style>
      #footer {
        background: black;
        color: white;
        text-align: center;
      }
    </style>

    <section id="footer">
      <div class="row">
        <div class="container-fluid">
      <footer class="pt-4 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <!-- <img class="mb-2" src="{% static 'img/brand.png'%}" alt="" width="24" height="24"> -->
            <small class="d-block mb-3 text-muted">&copy;SCU 2020</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Announcements</a></li>
              <li><a class="text-muted" href="#">News</a></li>
              <li><a class="text-muted" href="#">Fundraising</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
      </div>
    </div>
    </section>

    

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" crossorigin="anonymous"></script>


</body>

</html>
