{% extends 'members/base.html' %}
{% load crispy_forms_tags %}
{% block body %}

<h2>MBM Create Member Page</h2>
<div class="form-group">
  <form method="POST" enctype="multipart/form-data">
      <!-- Security token -->
      {% csrf_token %}
      <!-- Using the formset -->
      {{form|crispy}}
      <input class="btn btn-primary bt-sm" type="submit" value="Submit">
      <a class="btn btn-secondary" href="{% url 'members:member-list' %}" type="button" name="button">Back</a>
  </form>
</div>


{% endblock %}
