{% extends "members/base.html" %}
{% load static %}
{% block body %}

<!-- <a class="btn btn-warning btn-sm" href="{% url 'members:member-update' member.id %}" type="button" name="button">Edit</a>
<a class="btn btn-danger btn-sm" href="{% url 'members:member-delete' pk=member.id %}" type="button" name="button">Delete</a>


  <h1>{{ member.first_name }} {{ member.last_name}}</h1>
  {% if member.pro_member %}
    <p><i class="fa fa-star mr-1" aria-hidden="true"></i>Pro Member</span></p>
    {% else %}
    <a class="btn btn-success btn-sm"  href="/signup/" >Become a Pro Member</a>
    {% endif %}
  <p><strong>Address:</strong>{{ member.address }}</p>
  <p><strong>City:</strong> {{ member.city }}</p>
  <p><strong>State:</strong> {{ member.state }}</p> -->


    <a class="btn btn-secondary btn-sm" href="{% url 'members:member-list' %}" type="button" name="button">Back</a>

    <div class="container">
      <div class="row">
        <div class="col-md-6 img">
          <img src="{% static 'img/shirt.jpg' %}"  alt="" class="img-rounded">
        </div>
        <div class="col-md-6 details">
          <a class="btn btn-warning btn-sm" href="{% url 'members:member-update' member.id %}" type="button" name="button">Edit</a>

          <blockquote>
            <h5>{{member.first_name}} {{member.last_name}}</h5>
            <small><cite title="Source Title">{{member.city}}, {{member.state}}<i class="icon-map-marker"></i></cite></small>
          </blockquote>
          {% if member.pro_member %}
    <p><i class="fa fa-star mr-1" aria-hidden="true"></i>Member Plus+</span></p>
    {% else %}
    <a class="btn btn-success btn-sm"  href="/signup/" >Become a Member</a>
    {% endif %}
        </div>
      </div>
    </div>

    <div class="container">    
      <div class="row">
          <div class="panel panel-default">
          <div class="panel-heading">  <h4 >User Profile</h4></div>
           <div class="panel-body">
          <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
           <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
         
     
          </div>
          <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
              <div class="container" >
                <h2>{{member.first_name}} {{member.last_name}}</h2>
                {% if member.pro_member %}
    <p><i class="fa fa-star mr-1" aria-hidden="true"></i>Member Plus+</span></p>
    {% else %}
    <a class="btn btn-success btn-sm"  href="/signup/" >Become a Member</a>
    {% endif %}
              
               
              </div>
               <hr>
              <ul class="container details" >
                <li><p><span class="glyphicon glyphicon-user one" style="width:50px;"></span>{{member.username}}</p></li>
                <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{ member.email }}</p></li>
              </ul>
              <hr>
              <div class="col-sm-5 col-xs-6 tital " >Member since: {{ member.date_created}}</div>
          </div>
    </div>
</div>
</div>
{% endblock %}
