{% extends "members/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            TRAINING PROGRAM
• Financial li	teracy training
o Members will receive training on how to save money, building equity through 
investments and how to live within their means to decrease financial insecurities
• Computer training
o Members will receive training on coding and many applications us	ed for work, 
college and/or leisure
o SCU will provide members with a database that enable them to self	- learn.
• Business literacy training
o Members who fall into financial crisis seeking financial assistance of any kind will 
be required to take this training. 
o It is also avail
GRANTS PROGRAM
• Grants for struggling businesses
o Members with their own business will receive financial assistance to 	get them out 
of debt and back on track in the competitive market.
• Grants for education
o Kids who overcome the odds will qualify for a grant, whose parents are 
members, if they are designated as a kid who is most improved by the school 
social worker.
• Grants  for start - up businesses
o Members can pitch their plan and if it is 	approved,	applicant	will receive a	grant 
to help the	m get started on the road to a successful business.
• Grants for foreclosure prevention
o Members can apply for grants to save their home.  If	funding is not available SCU 
will search for funds for them.
• Grants for business technology upgrades
o Members whose technology needs to be updated to keep up with the 
mainstream market can apply for a grant.
• Grans for sports trainings and 	memberships
o Members whose children are into sports that achieve academic excellence can 
be nominated for a grant to receive one on one training from a personal trainer in 
select sports such as basketball, baseball, volley ball and soccer.
• Grants for leisur	e such as vacations and day trips, weddings, special celebrations	for 
volunteers​
3
o Members 	who  have been volunteering at the most events can put a request for 
leisure funds.  It is an incentive to get more people involved in the movement.
• Grants for eviction	prevention
o Members can apply for funds to keep them in their apartment based on a 
successful application.  Any member found to be intestinally not paying their rent 
with the intent to defraud SCU will not receive the grant. Such will be grounds for 
remova l from the program.
• Utility assistance
o On an emergency only	, members can 	apply for assistance with paying utilities to 
restore service	s .
VOLUNTEER TASK FORCE (Made up of members and public)
• Lawn services
o Members receive free lawn cuts, garden grooming and plants. 
• Neighborhood cleanup (raking leaves, remove dead or dying trees, pick up garbage, 
provide garbage bins, remove abandoned furniture, cut overgrown brush etc.)
o Members can put in for a request to h	ave their neighborhood cleaned up by our 
volunteer task force.  This will be done on a first serve bases.
o Members can recommend and put in a request for other black neighborhoods 
that are in need of a cleaning 
• Food assistance
o Volunteer staff will be avail	able to retrieve food from SCU’s pantry 24 hours for 
members who have children.  Late night hours must be justified. 
• Internships
o SCU is committed to education and will participate in the college internship 
program.
• Free 2 - hour babysitting
o Members who need	a mental health break may sign up for available babysitting 
hours. Members are allotted 2 hours from an approved volunteer of SCU.
HOUSING
• Affordable rent for low income members
o Members will be allowed to live in housing acquired by SCU at a rent not to 
e xceed 30% of their income.  
        </div>
    </div>
</div> 

{% endblock %}
