{% extends "members/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

<style>
  body {
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
  overflow-x: hidden;
}
</style>

<div class="jumbotron" style="color:black;background-color: black;margin-top: 111px;">
 
    <h1 style="color:white;background-color: black;text-align: center;">
        Latest News Update on #BLACKLIVESMATTER
    </h1>

</div>

<section id="news">
  <div class="container">
    <div class="row">
      {% for new, des, i, pub, url in mylist %}
        <div class="col-sm-4">
            <div class="card-deck">
                <div class="card">
                  {% if i != None %}
                  <img class="card-img-top" src="{{ i }}" alt="Card image cap">
                  {% else %}
                  <img class="card-img-top" src="{% static 'img/logo.png'%}" alt="Card image cap">
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{new|slice:":100"}}...</h5>
                    <p class="card-text">{{ des|slice:":100" }}...</p>
                    <button onclick="window.open('{{url}}','_blank')"" class="btn btn-primary btn-sm">Read More &rarr;</button>
                    <p class="card-text"><small class="text-muted">{{ pub }}</small></p>
                  </div>
                </div>
              </div>
          </div>
          
          {% endfor %}
        </div>
    </div>
</section>

{% endblock %}